@model IEnumerable<Dominio.Core.Entidades.Productos>

@{
    ViewBag.Title = "ListadoProductos";
}

<h2>ListadoProductos</h2>

<p>
    @Html.ActionLink("Realizar Compra", "Comprar", null, new { @class = "btn btn-success" })
</p>


<br />

@Html.Partial("_PartialListadoProducto");