@model IEnumerable<ProyDSW_Cibertec2018.Models.usp_listar_productos>

@{ 
    ViewBag.Title = "ListaProductos";
}

<h2>Listar_Productos</h2>

<p>
    @Html.ActionLink("Realizar Compra","Comprar",null,new { @class="btn btn-success"})
</p>
<br/>
@using (Html.BeginForm())
{
    <p>
        Nombre del producto:<input type="text" name="prod_cod" value="@ViewBag.PROD_NOM"/>
    </p>
}
@Html.Partial("_PartialListaPorductos")